header {
  position: absolute;
  top: 0px;
  width: 45rem;
  min-height: 15rem;
  background-color: black;
  font-family: Helvetica;
}

nav {
  position: absolute;
  top: 15rem;
  width: 45rem;
  height: 3rem;
  background-color: darkgray;
}

article {
  position: absolute;
  top:18rem;
  width: 30rem;
  background-color: white;
}

aside {
  position:absolute;
  top: 19rem;
  width: 15rem;
  left: 30rem;
  border-width: 1px 1px 1px 1px;
  border-color: darkgray;
  border-style:solid;
}

footer {
  position:absolute;
  bottom: auto;
  width: 45rem;
  height: 8rem;
  background-color: black;
  
}

h1 {
  color: white;
}

header h2 {
  color: darkgray;
}

nav a {
  color: #4e054c;
}