header {
  min-height: 15rem;
  background-color: black;
  font-family: Helvetica;
}

nav {
  height: 3rem;
  background-color: darkgray;
}

article {
  float: left;
  width: 50%;
  margin: 1rem;
  overflow: hidden;
  background-color: white;
}

aside {
  float: right;
  width: 40%;
  margin: 1rem;
  overflow: hidden;
  border-width: .3rem .3rem .3rem .3rem;
  border-color: darkgray;
  border-style:solid;
}

footer {
  clear: both;
  height: 8rem;
  background-color: black;
  
}

div.container {
  width: 45rem;
  position: relative;
  margin: auto;
}

h1 {
  color: white;
  font-weight: 100;
}

header h2 {
  color: darkgray;
  font-size: 1rem;
  font-weight: 100;
}

nav a {
  color: #4e054c;
}
